This script needs to produce a range and site-level mean for:
* Total basal area
* Shrub cover
* PFT-level basal area

Broken up by forest type and fire regime

In [129]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500) 
import shutil

## Functions

In [158]:
def summarize_and_melt(df, var_name, output_stat_name):
    
    df = df.loc[df['Var'] == var_name]
    
    # Group by and aggregate
    mean_name = output_stat_name + "_mean"
    std_name = output_stat_name + "_std"
    
    grouped = df.groupby(['Tree','Pft','Time_period','Forest_type']).agg(
        **{mean_name: ("Value", 'mean'),
           std_name: ("Value", 'std')}
    ).reset_index()
    #return grouped
    
    # Melt the DataFrame
    melted = pd.melt(grouped, id_vars=['Tree','Pft','Time_period','Forest_type'], value_vars=[mean_name, std_name], 
                     var_name='Statistic', value_name='Value')
    
    return melted

def get_total_ba(df):
    tmp_df = df.loc[df['Var'] == "BA_total_mean"].copy()
    tmp_df["Statistic"] = "BA_total_mean"
    tmp_df = tmp_df[["Tree","Pft","Time_period","Forest_type","Site","Statistic","Value"]]
    return tmp_df

## Import data

In [171]:
path_to_observations = '/home/adam/cloud/gdrive/postdoc/benchmarking/Structure_data.csv'
obs = pd.read_csv(path_to_observations)

In [155]:
print("Sites",obs.Site.unique())

Sites ['CZ2' 'STAN' 'GREEN' 'YOSE_SFTR' 'Tahoe_Basin' 'Teakettle'
 'YOSE_SFTR_Scholl_Taylor' 'YOSE_SFTR_USDAFS' 'YOSE_WEST_DRY'
 'YOSE_WEST_WET' 'YOSE_WEST' 'YPMC']

## CZ2

In [133]:
CZ2 = obs.loc[obs.Site == "CZ2"]
CZ2_BA_pft = summarize_and_melt(CZ2,var_name = "BA", output_stat_name="BA_pft")
print(CZ2_BA_pft)

   Tree    Pft Time_period Forest_type    Statistic      Value
0  ABCO    Fir         EAS         DMC  BA_pft_mean   2.612354
1  CADE  Cedar         EAS         DMC  BA_pft_mean   8.976104
2  PIPO   Pine         EAS         DMC  BA_pft_mean  12.490061
3  QUCH    Oak         EAS         DMC  BA_pft_mean   2.676712
4  QUKE    Oak         EAS         DMC  BA_pft_mean   4.477936
5  ABCO    Fir         EAS         DMC   BA_pft_std   3.516711
6  CADE  Cedar         EAS         DMC   BA_pft_std   6.024802
7  PIPO   Pine         EAS         DMC   BA_pft_std  12.241175
8  QUCH    Oak         EAS         DMC   BA_pft_std   2.276173
9  QUKE    Oak         EAS         DMC   BA_pft_std   2.973403

## STAN

In [134]:
STAN = obs.loc[obs.Site == "STAN"]
print(STAN.Var.unique())
STAN_BA_pft = summarize_and_melt(STAN,var_name = "BA", output_stat_name="BA_pft")
print(STAN_BA_pft)
STAN_ShrubCov = summarize_and_melt(STAN,var_name = "ShrubCov", output_stat_name="ShrubCov")
print(STAN_ShrubCov)

['BA' 'ShrubCov' 'ShrubCovSE']
    Tree    Pft Time_period Forest_type    Statistic      Value
0   ABCO    Fir         EAS         MMC  BA_pft_mean  33.866667
1   ABCO    Fir        PEAS         MMC  BA_pft_mean  22.233333
2   CADE  Cedar         EAS         MMC  BA_pft_mean  21.166667
3   CADE  Cedar        PEAS         MMC  BA_pft_mean  11.766667
4   PIPO   Pine         EAS         MMC  BA_pft_mean   7.150000
5   PIPO   Pine        PEAS         MMC  BA_pft_mean   9.983333
6   ABCO    Fir         EAS         MMC   BA_pft_std   2.830783
7   ABCO    Fir        PEAS         MMC   BA_pft_std   4.196824
8   CADE  Cedar         EAS         MMC   BA_pft_std   2.362908
9   CADE  Cedar        PEAS         MMC   BA_pft_std   2.565801
10  PIPO   Pine         EAS         MMC   BA_pft_std   3.269709
11  PIPO   Pine        PEAS         MMC   BA_pft_std   4.379688
    Tree    Pft Time_period Forest_type      Statistic     Value
0  Shrub  Shrub         EAS         MMC  ShrubCov_mean  0.025333
1  Shrub  Shrub        PEAS         MMC  ShrubCov_mean  0.286667
2  Shrub  Shrub         EAS         MMC   ShrubCov_std  0.031374
3  Shrub  Shrub        PEAS         MMC   ShrubCov_std  0.040415

## Yosemite South Fork Tuolumne River

In [159]:
YOSE_SFTR = obs.loc[obs.Site == "YOSE_SFTR"]
YOSE_SFTR_ST = obs.loc[obs.Site == "YOSE_SFTR_Scholl_Taylor"]
YOSE_SFTR_USDA = obs.loc[obs.Site == "YOSE_SFTR_USDAFS"]

print(YOSE_SFTR.Var.unique())

YOSE_SFTR_BA_pft = summarize_and_melt(YOSE_SFTR,var_name = "BA_mean", output_stat_name="BA_pft")
print(YOSE_SFTR_BA_pft)


YOSE_SFTR_total_ba_ST = get_total_ba(YOSE_SFTR_ST)
print(YOSE_SFTR_total_ba_ST)

YOSE_SFTR_total_ba_USDA = get_total_ba(YOSE_SFTR_USDA)
print(YOSE_SFTR_total_ba_USDA)


YOSE_SFTR_stemDen_pft = summarize_and_melt(YOSE_SFTR,var_name = "Stem_density", output_stat_name="StemDen_pft")
print(YOSE_SFTR_stemDen_pft)

['BA_mean' 'BA_SD' 'Stem_density' 'Stem_density_SD']
    Tree    Pft Time_period Forest_type    Statistic      Value
0   ABCO    Fir         EAS         DMC  BA_pft_mean  17.500000
1   ABCO    Fir        PEAS         DMC  BA_pft_mean   1.800000
2   CADE  Cedar         EAS         DMC  BA_pft_mean  18.000000
3   CADE  Cedar        PEAS         DMC  BA_pft_mean   9.000000
4   PIPO   Pine         EAS         DMC  BA_pft_mean  14.100000
5   PIPO   Pine        PEAS         DMC  BA_pft_mean   8.600000
6   QUKE    Oak         EAS         DMC  BA_pft_mean   2.900000
7   QUKE    Oak        PEAS         DMC  BA_pft_mean   0.700000
8   ABCO    Fir         EAS         DMC   BA_pft_std        NaN
9   ABCO    Fir        PEAS         DMC   BA_pft_std        NaN
10  CADE  Cedar         EAS         DMC   BA_pft_std        NaN
11  CADE  Cedar        PEAS         DMC   BA_pft_std        NaN
12  PIPO   Pine         EAS         DMC   BA_pft_std   3.818377
13  PIPO   Pine        PEAS         DMC   BA_pft_std   2.545584
14  QUKE    Oak         EAS         DMC   BA_pft_std        NaN
15  QUKE    Oak        PEAS         DMC   BA_pft_std        NaN
    Tree  Pft Time_period Forest_type                     Site      Statistic  \
133  NaN  NaN        PEAS         DMC  YOSE_SFTR_Scholl_Taylor  BA_total_mean

     Value
133   29.5
    Tree  Pft Time_period Forest_type              Site      Statistic  Value
134  NaN  NaN        PEAS         DMC  YOSE_SFTR_USDAFS  BA_total_mean   21.0
    Tree    Pft Time_period Forest_type         Statistic       Value
0   ABCO    Fir         EAS         DMC  StemDen_pft_mean  248.900000
1   ABCO    Fir        PEAS         DMC  StemDen_pft_mean   25.300000
2   CADE  Cedar         EAS         DMC  StemDen_pft_mean  128.100000
3   CADE  Cedar        PEAS         DMC  StemDen_pft_mean   57.500000
4   PIPO   Pine         EAS         DMC  StemDen_pft_mean   46.450000
5   PIPO   Pine        PEAS         DMC  StemDen_pft_mean   27.650000
6   QUKE    Oak         EAS         DMC  StemDen_pft_mean   33.500000
7   QUKE    Oak        PEAS         DMC  StemDen_pft_mean   18.000000
8   ABCO    Fir         EAS         DMC   StemDen_pft_std         NaN
9   ABCO    Fir        PEAS         DMC   StemDen_pft_std         NaN
10  CADE  Cedar         EAS         DMC   StemDen_pft_std         NaN
11  CADE  Cedar        PEAS         DMC   StemDen_pft_std         NaN
12  PIPO   Pine         EAS         DMC   StemDen_pft_std    3.181981
13  PIPO   Pine        PEAS         DMC   StemDen_pft_std   13.788582
14  QUKE    Oak         EAS         DMC   StemDen_pft_std         NaN
15  QUKE    Oak        PEAS         DMC   StemDen_pft_std         NaN

## Tahoe Basin

In [166]:
Tahoe = obs.loc[obs.Site == "Tahoe_Basin"]
print(Tahoe.Var.unique())
Tahoe_total_ba = get_total_ba(Tahoe)
print(Tahoe_total_ba)

['BA_total_mean']
    Tree  Pft Time_period Forest_type         Site      Statistic  Value
131  NaN  NaN        PEAS         MMC  Tahoe_Basin  BA_total_mean   27.0

In [137]:
print("Sites",obs.Site.unique())

Sites ['CZ2' 'STAN' 'GREEN' 'YOSE_SFTR' 'Tahoe_Basin' 'Teakettle' 'YOSE_WEST'
 'YPMC']

## Teakettle

In [165]:
Tk = obs.loc[obs.Site == "Teakettle"]
print(Tk.Var.unique())
Tk_total_ba = get_total_ba(Tk)
print(Tk_total_ba)

['BA_total_mean']
    Tree  Pft Time_period Forest_type       Site      Statistic  Value
132  NaN  NaN        PEAS         MMC  Teakettle  BA_total_mean   51.0

## Western Yosemite

In [172]:
YW = obs.loc[obs.Site == "YOSE_WEST"]
YW_DRY = obs.loc[obs.Site == "YOSE_WEST_DRY"]
YW_WET = obs.loc[obs.Site == "YOSE_WEST_WET"]

print(YW_DRY.Var.unique())
YW_total_ba_dry = get_total_ba(YW_DRY)
print(YW_total_ba_dry)

print(YW_WET.Var.unique())
YW_total_ba_wet = get_total_ba(YW_WET)
print(YW_total_ba_wet)

#Shrub Cover
YOSE_WEST_ShrubCov = summarize_and_melt(YW,var_name = "ShrubCov", output_stat_name="ShrubCov")
print(YOSE_WEST_ShrubCov)

#BA per pft
YOSE_WEST_BA_pft = summarize_and_melt(YW ,var_name = "BA", output_stat_name="BA_pft")
print(YOSE_WEST_BA_pft)

['BA_total_mean']
    Tree  Pft Time_period Forest_type           Site      Statistic      Value
135  NaN  NaN        PEAS         DMC  YOSE_WEST_DRY  BA_total_mean  10.633333
['BA_total_mean']
    Tree  Pft Time_period Forest_type           Site      Statistic      Value
136  NaN  NaN        PEAS         MMC  YOSE_WEST_WET  BA_total_mean  22.833333
    Tree    Pft Time_period Forest_type      Statistic     Value
0  Shrub  Shrub        PEAS        Both  ShrubCov_mean  0.090000
1  Shrub  Shrub        PEAS         DMC  ShrubCov_mean  0.324500
2  Shrub  Shrub        PEAS         MMC  ShrubCov_mean  0.195500
3  Shrub  Shrub        PEAS        Both   ShrubCov_std       NaN
4  Shrub  Shrub        PEAS         DMC   ShrubCov_std  0.309006
5  Shrub  Shrub        PEAS         MMC   ShrubCov_std  0.030406
    Tree    Pft Time_period Forest_type    Statistic     Value
0   ABCO    Fir        PEAS         DMC  BA_pft_mean  0.333333
1   ABCO    Fir        PEAS         MMC  BA_pft_mean  3.820000
2   CADE  Cedar        PEAS         DMC  BA_pft_mean  3.133333
3   CADE  Cedar        PEAS         MMC  BA_pft_mean  5.080000
4   PIPO   Pine        PEAS         DMC  BA_pft_mean  3.300000
5   PIPO   Pine        PEAS         MMC  BA_pft_mean  4.850000
6   ABCO    Fir        PEAS         DMC   BA_pft_std       NaN
7   ABCO    Fir        PEAS         MMC   BA_pft_std       NaN
8   CADE  Cedar        PEAS         DMC   BA_pft_std       NaN
9   CADE  Cedar        PEAS         MMC   BA_pft_std       NaN
10  PIPO   Pine        PEAS         DMC   BA_pft_std  3.016989
11  PIPO   Pine        PEAS         MMC   BA_pft_std  3.747666

## Greenhorn Mountains

In [176]:
GREEN = obs.loc[obs.Site == "GREEN"]
print(GREEN.Var.unique())
#Shrub Cover
GREEN_ShrubCov = summarize_and_melt(GREEN,var_name = "ShrubCovMean", output_stat_name="ShrubCov")
print(GREEN_ShrubCov)

['BA_mean' 'BA_SD' 'ShrubCovMean' 'ShrubCovSE']
    Tree    Pft Time_period Forest_type      Statistic     Value
0  Shrub  Shrub        PEAS         DMC  ShrubCov_mean  0.138000
1  Shrub  Shrub        PEAS         MMC  ShrubCov_mean  0.404333
2  Shrub  Shrub        PEAS         DMC   ShrubCov_std       NaN
3  Shrub  Shrub        PEAS         MMC   ShrubCov_std       NaN

## Safford and Stevens, 2017

In [140]:
YPMC = obs.loc[obs.Site == "YPMC"]
print(YPMC.Var.unique())

['Stem_density_max' 'Stem_density_mean' 'Stem_density_min']

## Get stats for pft-specific basal area

dbh min = 10 except for YOSE_WEST which is 15.2

In [148]:
BA_pft = pd.concat([
    CZ2_BA_pft,STAN_BA_pft,YOSE_SFTR_BA_pft,YOSE_WEST_BA_pft
])

pft_specific_ba = BA_pft.loc[BA_pft.Statistic == 'BA_pft_mean'].groupby(['Pft','Time_period','Forest_type']).agg(
        BA_pft_mean = ("Value", 'mean'),
        BA_pft_std = ("Value", 'std'),
        BA_pft_n = ("Value", 'count'),
        BA_pft_min = ("Value", 'min'),
        BA_pft_max = ("Value", 'max')
    ).reset_index().sort_values(['Time_period','Forest_type','Pft'])

pft_specific_ba

,Pft,Time_period,Forest_type,BA_pft_mean,BA_pft_std,BA_pft_n,BA_pft_min,BA_pft_max
0,Cedar,EAS,DMC,13.488052,6.380858,2,8.976104,18.000000
4,Fir,EAS,DMC,10.056177,10.527156,2,2.612354,17.500000
8,Oak,EAS,DMC,3.351549,0.981847,3,2.676712,4.477936
10,Pine,EAS,DMC,13.295031,1.138399,2,12.490061,14.100000
1,Cedar,EAS,MMC,21.166667,NaN,1,21.166667,21.166667
5,Fir,EAS,MMC,33.866667,NaN,1,33.866667,33.866667
11,Pine,EAS,MMC,7.150000,NaN,1,7.150000,7.150000
2,Cedar,PEAS,DMC,6.066667,4.148360,2,3.133333,9.000000
6,Fir,PEAS,DMC,1.066667,1.037090,2,0.333333,1.800000
9,Oak,PEAS,DMC,0.700000,NaN,1,0.700000,0.700000
12,Pine,PEAS,DMC,5.950000,3.747666,2,3.300000,8.600000
3,Cedar,PEAS,MMC,8.423333,4.728187,2,5.080000,11.766667
7,Fir,PEAS,MMC,13.026667,13.020193,2,3.820000,22.233333
13,Pine,PEAS,MMC,7.416667,3.629815,2,4.850000,9.983333

### Get total ba from pft-specific ba

In [151]:
pft_specific_ba.groupby(['Time_period','Forest_type']).agg(
        BA_total = ("BA_pft_mean", 'sum'))

                          BA_total
Time_period Forest_type
EAS         DMC          40.190809
            MMC          62.183333
PEAS        DMC          13.783333
            MMC          28.866667

## Get total ba

In [169]:
total_ba = pd.concat([
    YW_total_ba_dry,YW_total_ba_wet,YOSE_SFTR_total_ba_ST,YOSE_SFTR_total_ba_USDA,Tk_total_ba,Tahoe_total_ba
])
total_ba.groupby(['Time_period','Forest_type']).agg(
        BA_total_mean = ("Value", 'mean'),
        BA_std = ("Value", 'std'),
        BA_total_n = ("Value", 'count'),
        BA_total_min = ("Value", 'min'),
        BA_total_max = ("Value", 'max'))

                         BA_total_mean     BA_std  BA_total_n  BA_total_min  \
Time_period Forest_type
PEAS        DMC              20.377778   9.448711           3     10.633333
            MMC              33.611111  15.202644           3     22.833333

                         BA_total_max
Time_period Forest_type
PEAS        DMC                  29.5
            MMC                  51.0

## Shrub Cover

In [181]:
shrubCov = pd.concat([YOSE_WEST_ShrubCov,STAN_ShrubCov,GREEN_ShrubCov])
shrubCov = shrubCov.loc[shrubCov.Statistic == "ShrubCov_mean"]

shrubCov.groupby(['Time_period','Forest_type']).agg(
        Shrub_cov_mean = ("Value", 'mean'),
        BA_std = ("Value", 'std'),
        BA_total_n = ("Value", 'count'),
        BA_total_min = ("Value", 'min'),
        BA_total_max = ("Value", 'max'))

                         Shrub_cov_mean    BA_std  BA_total_n  BA_total_min  \
Time_period Forest_type
EAS         MMC                0.025333       NaN           1      0.025333
PEAS        Both               0.090000       NaN           1      0.090000
            DMC                0.231250  0.131875           2      0.138000
            MMC                0.295500  0.104697           3      0.195500

                         BA_total_max
Time_period Forest_type
EAS         MMC              0.025333
PEAS        Both             0.090000
            DMC              0.324500
            MMC              0.404333

## Summary of statistics for PEAS, DRY

dbh_min: mostly 10 cm, but 15.2 for Collins et al., 2015 (western YOSE)

* Total BA: 10-30 (mean 20)
* Pine BA: 3-9 (mean 6)
* Cedar BA: 3-9 (mean 6)
* Fir BA: 0-2 (mean 1)
* Shrub Cover: 14-32 (mean 23)

In [161]:
dfs_in_memory = {name: obj for name, obj in globals().items() if isinstance(obj, pd.DataFrame)}

# Print the names of the dataframes in memory
print(list(dfs_in_memory.keys()))

['_', '__', '___', 'obs', '_4', 'CZ2', '_8', 'grouped', '_10', '_11', '_12', 'CZ2_BA_pft', '_13', 'STAN', '_14', '_15', '_19', '_21', '_22', '_23', '_24', '_25', 'STAN_BA_pft', '_26', '_29', '_30', '_31', '_33', '_36', '_37', '_39', '_41', '_43', '_45', '_47', '_48', '_49', '_50', 'STAN_ShrubCov', '_51', 'YOSE_SFTR', '_56', '_57', '_58', 'YOSE_SFTR_BA_pft', 'YOSE_SFTR_BA_total', '_71', 'YOSE_SFTR_total_ba', '_75', '_78', 'YOSE_SFTR_stemDen_pft', 'Tahoe', 'Tahoe_total_ba', 'Tk', 'Tk_total_ba', 'YW', 'YW_total_ba', '_89', '_91', '_93', 'YOSE_WEST_ShrubCov', 'YOSE_WEST_BA_pft', '_97', '_100', '_103', 'YPMC', '_115', 'benchmarking_df', 'BA_pft', '_120', '_123', '_126', '_127', '_141', '_143', '_144', '_145', '_146', '_147', 'pft_specific_ba', '_148', '_151', 'YW_DRY', 'YW_WET', 'YW_total_ba_dry', 'YW_total_ba_wet', 'YOSE_SFTR_ST', 'YOSE_SFTR_USDA', 'YOSE_SFTR_total_ba_ST', 'YOSE_SFTR_total_ba_USDA']